body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(250, 255, 93);
}
.slider {
    width: min(28rem, 90%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.slider-window {
    overflow: hidden;
    flex-shrink: 0;
}
.slider-images {
    display: flex;
    transition: 0.5s;
}
.image {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    width: 100%;
    display: block;
}
input[type="radio"] {
    display: none;
}
.slider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.slider-text-window {
    width: 100%;
    height: 9rem;
    overflow: hidden;
    margin-bottom: 2rem;
    align-self: start;
}
.slider-texts {
    display: flex;
    transition: transform 0.5s ease;
}
.text {
    flex: 0 0 100%;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.3s ease;
}
.slider-labels {
    justify-self: center;
    display: flex;
    gap: clamp(0.2rem, 1vw, 1rem);
    margin-top: auto;
}
.slider-lab {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.slider-lab img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.slider-lab img:hover {
    transform: scale(1.5);
}
#slide-1:checked ~ .slider-window .slider-images {
    transform: translateX(0);
}
#slide-1:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(0);
}
#slide-2:checked ~ .slider-window .slider-images {
    transform: translateX(-100%);
}
#slide-2:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(-100%);
}
#slide-3:checked ~ .slider-window .slider-images {
    transform: translateX(-200%);
}
#slide-3:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(-200%);
}
#slide-4:checked ~ .slider-window .slider-images {
    transform: translateX(-300%);
}
#slide-4:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(-300%);
}
#slide-5:checked ~ .slider-window .slider-images {
    transform: translateX(-400%);
}
#slide-5:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(-400%);
}
#slide-6:checked ~ .slider-window .slider-images {
    transform: translateX(-500%);
}
#slide-6:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(-500%);
}
#slide-7:checked ~ .slider-window .slider-images {
    transform: translateX(-600%);
}
#slide-7:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(-600%);
}
#slide-8:checked ~ .slider-window .slider-images {
    transform: translateX(-700%);
}
#slide-8:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(-700%);
}
#slide-9:checked ~ .slider-window .slider-images {
    transform: translateX(-800%);
}
#slide-9:checked ~ .slider-info .slider-text-window .slider-texts {
    transform: translateX(-800%);
}
#slide-1:checked ~ .slider-info .slider-labels label[for="slide-1"] img,
#slide-2:checked ~ .slider-info .slider-labels label[for="slide-2"] img,
#slide-3:checked ~ .slider-info .slider-labels label[for="slide-3"] img,
#slide-4:checked ~ .slider-info .slider-labels label[for="slide-4"] img,
#slide-5:checked ~ .slider-info .slider-labels label[for="slide-5"] img,
#slide-6:checked ~ .slider-info .slider-labels label[for="slide-6"] img,
#slide-7:checked ~ .slider-info .slider-labels label[for="slide-7"] img,
#slide-8:checked ~ .slider-info .slider-labels label[for="slide-8"] img,
#slide-9:checked ~ .slider-info .slider-labels label[for="slide-9"] img {
    transform: scale(1.6);
    border-radius: 50%;
    border: 0.125rem dashed blue;
}
